# Automatically build the project and run any configured tests for every push
# and submitted pull request. This can help catch issues that only occur on
# certain platforms or Java versions, and provides a first line of defence
# against bad commits.

name: Build
run-name: Build by @${{ github.actor }}

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v3
        with:
          submodules: recursive
          fetch-depth: 0 # needed for versioning
      - name: validate gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: setup JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'microsoft'
      - name: cache gradle
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: "${{ runner.os }}-bluemapsignmarkers-${{ hashFiles('**/*.gradle*') }}"
          restore-keys: |
            ${{ runner.os }}-bluemapsignmarkers-
      - name: make gradle wrapper executable
        run: chmod +x ./gradlew
      - name: build with gradle
        run: ./gradlew clean build
      - name: capture build artifacts
        uses: actions/upload-artifact@v3
        with:
          name: Artifacts
          path: build/libs/
